{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static "style.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1 class="courgette">TimeLP</h1>
{% if years %}
	<ul class="years">
	{% for y in years %}
	<li><div class="year courgette">{{ y.year }}</div>
		<ul class="releases">
			{% for r in y.releases %}
			<li style="background-image:url({{ r.thumb }});"></br>{{ r.year }} - {{ r.title }}</li>
			{% endfor %}
			<div class="fclear"></div>
		</ul>
		<div class="fclear"></div>
	</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No collection</p>
{% endif %}
</body>
</html>